html {
    scroll-behavior: smooth;
  }
  
  * {
    font-family: monospace;
  }
  
  body {
    margin: 0 auto;
    margin-bottom: 100000px;
  }
  
  /*네비게이션 바================================================*/
  
  .nav-container {
    background-color: rgb(197, 234, 197);
    position: fixed;
    top: 0; /*상단 위치 0 을 줌으로서 위에 붙음*/
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none; /*리스트 기호 삭제*/
    align-items: center; /*가운데 정렬*/
  }
  .nav-item {
    padding: 15px;
    cursor: pointer; /*그 우리가 연구과제 할 거에다가 이런 커서 두고 준비중!! 로고 뜨는 것도 ㄱㅊ은듯 캬캬캬*/
  }
  
  .nav-item a {
    text-decoration: none;
    color: black;
    text-decoration-color: #ffd874;
    /* border-bottom: 2px solid #ffd874; */
  }
  
  .nav-item:hover {
    text-decoration: underline;
    /* background-color: rgb(94, 176, 94); */
  }
  .nav-item:nth-child(1) {
    flex-grow: 1; /*여유 공간 독차치, 나머지 밀려남!!*/
    font-size: 2vw;
  }
  .menu-icon {
    border: none;
    background-color: transparent;
    display: none;
  }
  /*네비게이션 바================================================*/
  
  /*베스트 포토, 투데이 포토================================================*/
  
  .photo {
    margin-top: 15%;
    margin-bottom: 15%;
    text-align: center;
  }
  
  .img {
    width: 40%;
  }
  
  .bestPhoto .img {
    overflow: auto;
  }
  
  .photo p:nth-child(1) {
    font-size: 20px;
  }
  
  .photo .bestPhoto {
    margin-bottom: 10%;
  }
  /* .photo .todayPhoto {
  } */
  .photo .calandar {
    margin-top: 10%;
  }
  
  /*베스트 포토, 투데이 포토================================================*/
  
  /* 768*/
  @media screen and (max-width: 768px) {
    /*햄버거 메뉴가 체크됐을 때 보이도록 해야함.*/
    .nav-container {
      /* display: none; */ /*평소에는 안보였다가 menu아이콘 클릭해야 나타나야함.*/
      flex-direction: column;
      position: static;
      /*position: fixed; /*row 일 때 fixed가 되지만 col은 안돼서 추가!*/
      /*추가했더니 너무 불편함*/
      /*Issue 해결 (closed)*/
    }
  }