html {
  scroll-behavior: smooth;
}

* {
  font-family: monospace;
}

body {
  margin: 0;
  margin-bottom: 100000px;
  box-sizing: border-box;
}

/*네비게이션 바================================================*/

/*네비게이션 바================================================*/

/*베스트 포토, 투데이 포토================================================*/

.photo {
  margin-top: 15%;
  margin-bottom: 15%;
  text-align: center;
}

.img {
  width: 40%;
}

.bestPhoto .img {
  overflow: auto;
}

.photo p:nth-child(1) {
  font-size: 20px;
}

.photo .bestPhoto {
  margin-bottom: 10%;
}
/* .photo .todayPhoto {

} */
.photo .calandar {
  margin-top: 10%;
}

/*베스트 포토, 투데이 포토================================================*/
