
* {
    margin: 0 auto;
    padding: 0;
    font-family: "Noto Sans KR", sans-serif;
}

:root {
  --first-color: #ffd874;
  --second-color: #ffdabf;
}

header {
    height: 64px;
    display: flex; /*한 줄 정렬*/
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    margin: 0;
    padding: 16px;
    position: fixed;
  }

div.nav_bar > i:hover {
    cursor: pointer;
}
.nav_var {
    display: flex;
    width: 80%;
}

.right_var {
    display: flex;
    width: 30%;
}

.photo-btn {
    margin-left: 500px;
    width: 150px;
    height: 38px;
    font-size: 12px;
    border: none;
    background-color: var(--first-color);
}

.photo-btn:hover {
    cursor: pointer;
}

.album_name {
    text-align: center;
    padding: 150px 0;
}
select {
    margin: unset; /*중앙정렬 해제*/
    /* -webkit-appearance: none; 네이티브 외형 감추기 */
}
.sort_images {
    display: flex;
    justify-content: flex-end; /*오른쪽 정렬*/
    padding: 5px;
    margin-right: 15px;
}
.photo_wrapper {
    max-width: 1180px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.items_images {
    width: 30%;
    padding: 0 10px;
}
img {
    max-width: 100%;
}

@media screen and (max-width: 768px) {
    .items_images {
    width: 40%;
    padding: 0 10px;
    }
}