/*썸네일 제작!!!*/

.thumbs_wrapper {
    display: flex;
    flex-wrap: wrap; /*`차원 정렬을 여러 랩으로 할 수 있다!!!*/
    justify-content: space-between;
    margin: 60px 0 0 200px;
    padding: 20px 0 0 10px;
}

.thumbs_item { /*한 줄에 네 개씩 정렬*/
    width: 25%; /*1/4*/
    margin: 0 0 15px 0;
    padding: 0 10px;
}

.thumbs_thumbsnail {
    max-width: 100%; /*본인이 속한 곳에서 벗어날 수 없음.*/
    margin: 0 0 10px 0; /*상 우 하 좌*/
}

.thumbs_info {
    display: flex; /*프로필, 텍스트가 좌우로 붙어야 함. 1차원 정렬*/
}

.thumbs_profile {
    width: 36px;
    height: 36px;
    border-radius: 50%; /*원*/
    background-color: rgb(106, 196, 106);
}

.thumbs_text {
    width: calc(100% - 36px); /*본인이 속한 곳 - 프로필 사진 값(36px)*/
    margin-left: 10px;
}

/*글씨가 점점 작아짐*/

.thumbs_text_title {
    font-size: 1.2rem;
    margin-bottom: 0.5em;
}

.thumbs_text_owner {
    font-size: 1rem;
    color: #aeaeae;
    margin-bottom: 0.2em;
}
.thumbs_text_anal {
    font-size: 0.9rem;
    color: #aeaeae;
}

@media screen and (max-width : 1000px) { /*1000px일 때 header, nav 움직임 X, 그런데 썸네일 사진이 너무 작음!*/
  .thumbs_item {
      width: 33%; /*3열을 할 것이기 때문에 100/3*/
  }
}
@media screen and (max-width : 800px) { /*800px보다 작을 때 nav가 작아지고 header 로고가 사라짐*/
        /*nav 영역이 줄었을 때 빈칸이 있기 때문에 썸네일 크기를 늘리고 열 수 2줄로 늘리기*/
    .thumbs_wrapper {
        margin: 60px 0 0 60px; /*상 우 하 좌*/
    }
    .thumbs_item {
        width: 50%; /*2열이니까 100/2*/
    }
}
@media screen and (max-width : 400px) { /*400px일 때 한 번*/
    .thumbs_wrapper {
        margin: 60px 0 0 0; /*상 우 하 좌*/
        padding: 20px 0 0 0;
    }
    .thumbs_item {
        width: 100%; /*1열이니까 100/1*/
    }
}