html {
  scroll-behavior: smooth;
}

* {
  font-family: "Noto Sans KR", sans-serif;
}

:root {
  --first-color: #ffd874;
  --second-color: #ffdabf;
}
body {
  margin: 0;
  box-sizing: border-box;
  background-color: #f7f8f8;
  -ms-overflow-style: none; /* 스크롤바 없애기*/
}
::-webkit-scrollbar {
  /* 스크롤바 없애기*/
  display: none;
}
a:visited {
  /* a 태그 갔다왔을 때 색깔 black*/
  color: black;
}
section {
  /* 섹션 구분 margin */
  margin-bottom: 22%;
}
.img {
  width: 30%; /* 이미지 기본 크기 */
  margin-top: 7vw; /* title과 간극 */
}

/* 네비게이션 바 */
header {
  height: 86px; /*크기가 다른 페이지들 보다 작은 거 같아서*/
  display: flex; /*한 줄 정렬*/
  padding: 16px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  background-color: white;
  z-index: 100; /* 레이아웃 중 맨 앞 */
}
.logo {
  width: 38%;
}

.logo:hover {
  cursor: pointer;
}
.main_navbar {
  display: flex;
  width: 100%;
}
nav {
  align-items: center;
  display: flex;
  flex-direction: row;
}
nav a {
  /*nav바 안에 있는 모든 a태그의 밑줄 사라지게 하기*/
  text-decoration: none; /* anchor태그가 가지고 있는 기본 속성 없애기*/
  color: #000000; /* 글자 색 검정*/
}
/* nav바 hover시 밑줄 애니메이션 구현 */
nav a:after {
  display: block;
  content: "";
  border-bottom: solid 2px var(--first-color); /* hover일 때 밑줄 생기도록 */
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
nav a:hover:after {
  transform: scaleX(1); /*마우스 오버됐을 때 밑줄이 생김 */
  transform-origin: left;
}

button:hover {
  cursor: pointer;
}

.left_bar {
  margin-right: 3%; /* right bar 띄우기 */
  display: flex;
  width: 100%;
  justify-content: flex-end; /* 오른쪽에 붙이기 */
}
.right_bar {
  display: flex;
  justify-content: flex-end; /* 오른쪽에 붙이기 */
}
.nav-item {
  list-style: none;
  margin: 0 20px;
}
.btn_preety {
  /* 사진꾸미러가기 버튼 */
  width: 150px;
  height: 38px;
  font-size: 12px;
  border: none;
  background-color: var(--first-color);
}
.btn_preety:hover {
  opacity: 0.6;
}
.btn_menu {
  /* 햄버거 메뉴 아이콘 */
  display: none;
  border: none;
  background-color: transparent; /* 배경 투명하게 */
}
.bestPhotoTitle {
  position: absolute;
  left: 24vw;
}

/* BestPhoto */
.highlight {
  /* BestPhoto title 형광펜 */
  width: 148px;
  height: 33px;
  z-index: -1;
  background-color: var(--first-color);
  position: absolute;
  left: 24vw;
  top: 268px;
}
section > div {
  /*section 바로 아래있는 div, (타이틀들)*/
  font-size: 25px;
  position: absolute;
  left: 24vw;
}
.photo {
  /* 메인화면 섹션들 */
  margin-top: 250px; /* header 간격*/
  text-align: center; /* 글 가운데 정렬*/
}

/* todayPhoto */
.todayPhoto-box {
  /* 이미지, 글을 감싸는 엘리먼트 */
  width: 30.33%;
  height: 30.33%;
  position: static;
  margin-left: 36vw;
}
.todayPhoto-img {
  /* todayPhoto-box안에있는 이미지 */
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 25px white solid;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.todayPhoto-box p {
  font-size: 15px;
}
/* footer */
.main-footer {
  display: flex;
  padding-top: 10px;
  border-top: 1px solid black;
  width: 100%;
}
.main-footer li {
  display: inline;
}
.footerTitle {
  font-size: 20px;
}
.developerFooter {
  margin-right: 20px;
}
a {
  color: black;
}
a:visited {
  /* 방문한 링크 검정. */
  color: black;
}
/* footer */
footer {
  font-size: 12px;
}
.main-footer {
  justify-content: center;
  position: static;
  margin: 10px;
}
.photo p:nth-child(1) {
  font-size: 20px;
}
/* Calandar */
.photo .calandar {
  margin-top: 10%;
}
/* footer ///////////////////////////*/
@media screen and (max-width: 1000px) {
  .logo {
    width: 26%;
  }
  header {
    height: 68px;
    background-color: rgba(255, 255, 255, 1);
  }
  .main_navbar {
    display: inline;
    position: fixed; /*메뉴바 고정*/
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 1); /*메뉴바 배경*/
    transform: translateX(100%);
    transition: all 0.3s ease-out 0s; /*transition(모든 요소, 0,3초 동안, 효과, 딜레이)*/
  }
  .main_navbar.active {
    width: 100%;
    height: 100%;
    opacity: 1;
    transform: translateX(0);
    transition: all 0.3s ease-out 0s;
  }
  .nav_container {
    display: flex;
    flex-direction: column; /* 세로로 정렬*/
    margin: 0 auto; /*가운데 정렬*/
    margin-top: 80px; /*여백 주기*/
  }
  .nav_container li {
    margin: 20px;
  }
  .btn_preety {
    width: 300px;
  }
  .btn_menu {
    display: block; /* 햄버거 메뉴 보이게 */
    position: absolute;
    right: 12px;
    width: 40px;
    height: 40px;
    position: fixed;
  }
  /* bestphoto 섹션 */
  section > div {
    /*BestPhoto, TodayPhoto 섹션 제목들*/
    font-size: 15px;
    position: absolute;
    left: 24vw;
  }
  .highlight {
    width: 74px;
    height: 16px;
    position: absolute;
    left: 24vw;
    top: 258px;
  }
  .todayPhoto-box {
    width: 50%;
    margin: 0 auto;
  }
  .todayPhoto-img {
    border: 15px white solid;
  }
  .todayPhoto-box p {
    font-size: 9px;
  }
}
